<a href="https://colab.research.google.com/github/Aromal-801/mrar07/blob/main/ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Q1:Write a function to compute number of vowels in a string given as input

In [1]:
def count_vowels(input_string):
    vowels = set("aeiouAEIOU")
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count
input_str = "Hello, World!"
vowel_count = count_vowels(input_str)
print(f"The number of vowels in '{input_str}' is: {vowel_count}")

The number of vowels in 'Hello, World!' is: 3

Question 2
Write a function that checks whether a number is prime.

In [2]:
def is_prime(n):
    if n < 2:
        return False

    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num=int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number: 6
6 is not a prime number.


Question 3
Write a function to return the maximum of two numbers.

In [3]:
a=int(input("Enter your number:"))
b=int(input("Enter your number:"))
def maximum(a,b):
    if a>b:
        return a
    else:
        return b
print(maximum(a,b))

Enter your number:5
Enter your number:41
41

Question 4
Write a function to return the factorial of a number.

In [4]:
x=int(input("Enter the number:"))
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)
print(factorial(x))

Enter the number:55
12696403353658275925965100847566516959580321051449436762275840000000000000

 Question 5
Write a function to reverse a string without string indexing.

In [7]:
s=input("Enter your string:")
rev= s[::-1]
print(rev)

Enter your string:aromal
lamora

Question 6
Write a function to check if a string is a palindrome.

In [14]:
s = input("Enter your string: ")
rev = s[::-1]

if s == rev:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter your string: aromal
The string is not a palindrome.

 Question 7
Write a function to count vowels in a string.

In [16]:
a = ['a', 'e', 'i', 'o', 'u']
string = input("Enter the string: ").lower()
def your_function_7():
    count = 0
    for i in string:
        if i in a:
            count += 1
    print("Number of vowels:", count)

Enter the string: aromal
Number of vowels: 3

Question 8
Write a function that returns the sum of a list.

In [18]:
def sum_of_list(numbers):
    total = 0
    for number in numbers:
        total += number
    return total
example_list = [1, 2, 3, 4, 5]
result = sum_of_list(example_list)
print(f"The sum of the list {example_list} is: {result}")

The sum of the list [1, 2, 3, 4, 5] is: 15


 Question 9
Write a function to find the smallest number in a list.

In [19]:
y=['2','-2','7','8']
s=min(y)
print("smallest number:",s)

smallest number: -2

 Question 10
Write a function to remove duplicates from a list.

In [20]:
a={'a','y','b','a'}
b=set(a)
print(list(b))

['b', 'y', 'a']

Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [31]:
a=[2, 3, 1, 4, 5]
def your_function_11():
  for i in range(len(a)):
    for j in range(i + 1, len(a)):
      if a[i] > a[j]:
        a[i], a[j] = a[j], a[i]
  print(a)
your_function_11()

[1, 2, 3, 4, 5]

 Question 12
Write a function that returns the length of a string.

In [34]:
def my_function_12():
  text=("apple")
  return len(text)
print(my_function_12())

5

 Question 13
Write a function to count words in a sentence.

In [36]:
def count_words(sentence):
    words = sentence.split()
    return len(words)
sentence = "The onepiece is real."
word_count = count_words(sentence)
print(f"The number of words in the sentence is: {word_count}")

The number of words in the sentence is: 4

 Question 14
Write a function to convert Celsius to Fahrenheit.

In [44]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
celsius = 25
fahrenheit = celsius_to_fahrenheit(celsius)
print("celsius:", celsius)
print("fahrenheit:", fahrenheit)

celsius: 25
fahrenheit: 77.0

Question 15
Write a function to check if a number is palindrome.

In [48]:
def is_palindrome(number):
    original_number = number
    reversed_number = 0
    while number > 0:
        digit = number % 10
        reversed_number = reversed_number * 10 + digit
        number //= 10
    return original_number == reversed_number
number = 12321
if is_palindrome(number):
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

12321 is a palindrome.

### Question 16
Write a function to return all even numbers in a list

In [49]:
a=['11','18','24','31','42','51']
def your_function_16():
  for i in a:
    if int(i)%2==0:
      print(i)
your_function_16()

18
24
42

 Question 17
Write a function to return the nth Fibonacci number.

In [59]:
def your_function_17(n):
  a, b =0,1
  for i in range(n):
    a,b=b,a+b
  return a
print(your_function_17(0))
x=int(input("Enter the number:"))
result=your_function_17(x)
print("the nth Fibonacci number is:",result)

0
Enter the number:14
the nth Fibonacci number is: 377

 Question 18
Write a function to calculate the average of a list.

In [60]:
a=[4,5,7,9,15]
def your_function_18():
  sum=0
  for i in a:
    sum+=i
  return sum/len(a)
print(your_function_18())

8.0

Question 19
Write a function that returns a dictionary of character counts.

In [61]:
def my_function_19():
  count_dict ={}
  for char in text:
    if char in count_dict:
      count_dict[char]+=1
    else:
      count_dict[char]=1
  return count_dict
text="apple"
print(my_function_19())

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

Question 20
Write a function that returns True if all list elements are unique.

In [66]:
def my_function_20():
  return len(list)==len(set(list))
list=[1,2,3,4,5,6]
print(my_function_20())

True

 Question 21
Write a function that returns dot product of two list of numbers

In [74]:
def my_function_21(list1, list2):
   dot_product = 0
   for i in range(len(list1)):
         dot_product += list1[i] * list2[i]
   return dot_product
list1=[1,2,3]
list2=[4,5,6]
result = my_function_21(list1,list2)
print("Dot product is:",result)

Dot product is: 32

 Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers